Repository govinda777/Xperience: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, secretlint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write", "secretlint"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write", "secretlint"],
  "*.{json,md}": ["prettier --write", "secretlint"],
  "*.{env,yml,yaml}": ["secretlint"]
}

fix(agents): resolve hook crash in ChatInterface, restore TrailRunner typo and Navbar types
  src/components/Navbar/index.tsx
  src/components/trails/TrailRunner.tsx
  src/pages/Agents/ChatInterface.tsx
Due: eslint --fix, prettier --write, secretlint

fix(html): make CSP meta tag single-line to avoid Vite parse errors
  index.html
Due: none

fix(vercel): remove catch-all rewrite to prevent vercel dev asset interception
  vercel.json
Due: prettier --write, secretlint

up
  .env.example
  .gitignore
  api/_routes/chat.ts
  api/_routes/leads.ts
  api/_routes/orchestrator.ts
  api/_routes/xp/index.ts
  api/agent/xperience-graph.ts
  api/lib/kv.ts
  api/lib/services/wallet-service.ts
  lib/agent/inboundHandler.ts
  lib/privy-server.ts
  package.json
  pnpm-lock.yaml
  src/components/trails/TrailAIStep.tsx
  src/hooks/useUserWallet.ts
  src/main.tsx
  src/types/privy-io__react-auth.d.ts
  test_gemini.js
Due: eslint --fix, prettier --write, secretlint

up
  public/404.html
  vercel.json
Due: prettier --write, secretlint

up
  dummy.py
  package.json
  pipeline.sh
  scripts/sync-db.sh
Due: prettier --write, secretlint

ci: integrate Neon database branching and automatic schema sync
  .github/workflows/build-deploy.yml
  .github/workflows/playwright.yml
  .github/workflows/production.yml
Due: secretlint

fix: resolve playwright CI failure with local postgres fallback in GitHub Actions
  .github/workflows/playwright.yml
Due: secretlint

fix: remove local postgres fallback and keep neon database as the only option
  .github/workflows/playwright.yml
Due: secretlint

feat: integrate Neon database branching with Vercel Preview Deployment
  .github/workflows/preview.yml
Due: secretlint

fix: declare NEON_API_KEY as job-level env to resolve YAML syntax error in if conditional
  .github/workflows/playwright.yml
  .github/workflows/preview.yml
Due: secretlint

fix: load environment Preview and set DIRECT_DATABASE_URL to satisfy Prisma schema validation
  .github/workflows/playwright.yml
  .github/workflows/preview.yml
Due: secretlint

fix: remove parent parameter from create-branch-action to default to Neon's default branch
  .github/workflows/playwright.yml
  .github/workflows/preview.yml
Due: secretlint

fix: remove duplicate build-deploy workflow and add DIRECT_DATABASE_URL to production deploy
  .github/workflows/build-deploy.yml
  .github/workflows/production.yml
Due: secretlint

fix: resolve Privy ESM ERR_REQUIRE_ESM error on Vercel
  .vercelignore
  api/_routes/admin/user/[userId]/role.ts
  api/_routes/user/session.ts
  api/_routes/user/wallet.ts
  api/lib/auth-middleware.ts
  api/package.json
Due: eslint --fix, prettier --write, secretlint

fix: migrate project root to ESM to solve Vercel Privy ESM crash
  api/package.json
  commitlint.config.cjs
  configure.cjs
  eslint.config.cjs
  lib/services/role-service.ts
  lib/services/session-service.ts
  package.json
  postcss.config.cjs
  scripts/build-report.cjs
  tailwind.config.cjs
  test_gemini.cjs
Due: eslint --fix, prettier --write, secretlint

fix: make PrivyClient initialization safe at build-time to prevent GitHub Actions build failure
  lib/privy-server.ts
Due: eslint --fix, prettier --write, secretlint

debug: add secure debug-env endpoint to diagnose missing environment variables on Vercel
  api/_routes/debug-env.ts
  api/index.ts
Due: eslint --fix, prettier --write, secretlint

cleanup: remove temporary debug-env endpoint
  api/_routes/debug-env.ts
  api/index.ts
Due: eslint --fix, prettier --write, secretlint

chore: refactor CI/CD pipelines, remove sync-vercel-env.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/sync-vercel-env.yml
Due: secretlint

feat: restore sync-vercel-env.yml with GEMINI_API_KEY and NEON_API_KEY
  .github/workflows/sync-vercel-env.yml
Due: secretlint

feat: inject secrets natively into vercel CLI, remove sync script
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/sync-vercel-env.yml
Due: secretlint

fix: remove invalid --build-env flag from vercel build
  .github/workflows/preview.yml
  .github/workflows/production.yml
Due: secretlint

fix: prisma binaryTargets for vercel and strip auth token quotes
  api/lib/auth-middleware.ts
  api/prisma/schema.prisma
Due: eslint --fix, prettier --write, secretlint

test: add integration tests for xp and mountain status endpoints
  api/__tests__/test-utils.ts
  api/_routes/mountain/__tests__/status.test.ts
  api/_routes/xp/__tests__/index.test.ts
  api/vitest.config.ts
  package.json
Due: eslint --fix, prettier --write, secretlint

chore: add env debug logs and fix production yaml
  .github/workflows/production.yml
  api/index.ts
Due: eslint --fix, prettier --write, secretlint

chore: add log for privy client initialization to force deploy
  lib/privy-server.ts
Due: eslint --fix, prettier --write, secretlint

ci: adicionar etapa de build antes dos testes E2E no workflow do Playwright
  .github/workflows/playwright.yml
Due: secretlint

up
  .github/workflows/playwright.yml
Due: secretlint

up
  .github/workflows/preview.yml
  pipeline.sh
Due: secretlint
