Repository govinda777/Xperience: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, secretlint

up
  index.html
Due: none

Deploying to gh-pages from @ govinda777/Xperience@6f60d6443c84ef4d4447e4428eb568a2fb24260b 🚀
  index.html
  sw.js
Due: eslint --fix, prettier --write, secretlint

feat: add neutral service worker to replace old cached versions
  public/sw.js
Due: eslint --fix, prettier --write, secretlint

feat: add automatic service worker cleanup script
  public/sw-cleanup.js
Due: eslint --fix, prettier --write, secretlint

fix: add service worker cleanup and cache prevention to index.html
  index.html
Due: none

feat: add comprehensive deploy workflow with SW cleanup verification
  .github/workflows/deploy.yml
Due: secretlint

update env
  src/config/env.ts
Due: eslint --fix, prettier --write, secretlint

sync vercel env
  .github/workflows/sync-vercel-env.yml
Due: secretlint

docs: adiciona seção de configuração de variáveis de ambiente
  README.md
Due: prettier --write, secretlint

FIX ENV
  src/config/env.ts
Due: eslint --fix, prettier --write, secretlint

up
  src/config/env.ts
Due: eslint --fix, prettier --write, secretlint

Potential fix for code scanning alert no. 23: Workflow does not contain permissions
  .github/workflows/sync-vercel-env.yml
Due: secretlint

up
  AUTHENTICATION_AUTHORIZATION.md
  BLUE_OCEAN_AI_prompt.md
  BLUE_OCEAN_NETFLIX.md
  CHECKOUT_IMPLEMENTATION.md
  DEPLOYMENT.md
  DEPLOY_GUIDE.md
  DOMAIN_CONFIGURATION.md
  ENVIRONMENT_SETUP.md
  ERC-4337.md
  GITHUB_PAGES_DEPLOY.md
  GITHUB_PAGES_FIX.md
  GITHUB_PAGES_SUMMARY.md
  GITHUB_PAY_IMPLEMENTATION.md
  IA_do_empreendedor.md
  MANUAL_DEPLOY.md
  PAYMENT_IMPLEMENTATION_PLAN.md
  PAYMENT_SETUP.md
  PAYMENT_SUMMARY.md
  PAYMENT_TESTING_SUMMARY.md
  PLANS.md
  PRIVY_FIXES.md
  PRIVY_MIGRATION_PLAN.md
  PRIVY_SETUP_GUIDE.md
  PROJECT_STRUCTURE.md
  Quickly_Copy.md
  README_TESTS.md
  SECURITY_GUIDELINES.md
  SEO_IMPLEMENTATION_PLAN.md
  SEO_IMPLEMENTATION_SUMMARY.md
  SEO_README.md
  TELEGRAM_MIGRATION_PLAN.md
  TESTING.md
  TEST_ANALYSIS.md
  TYPESCRIPT_CLEANUP.md
  Template.md
  bdd-payment-tests-planning.md
  erro_pipeline.md
  teste.md
Due: prettier --write, secretlint

Delete mentoring-starter.md
  mentoring-starter.md
Due: prettier --write, secretlint

Delete pitch/GAME-Habitus directory
  pitch/GAME-Habitus/BUDGET.md
  pitch/GAME-Habitus/CROWDFUND.md
  pitch/GAME-Habitus/README.md
Due: prettier --write, secretlint

Delete temp_backup directory
  temp_backup/__tests__/App.test.tsx
  temp_backup/__tests__/components/PaymentMethodSelector.test.tsx
  temp_backup/__tests__/components/PaymentStatusModal.test.tsx
  temp_backup/__tests__/components/payments/GitHubPaymentComponent.test.tsx
  temp_backup/__tests__/components/payments/PaymentMethodSelector.test.tsx
  temp_backup/__tests__/components/payments/PixPaymentComponent.test.tsx
  temp_backup/__tests__/main.test.tsx
  temp_backup/__tests__/services/paymentService.test.ts
  temp_backup/__tests__/services/providers/bitcoinPaymentProvider.test.ts
  temp_backup/__tests__/services/providers/githubPaymentProvider.test.ts
  temp_backup/__tests__/services/providers/pixPaymentProvider.test.ts
  temp_backup/__tests__/services/providers/usdtPaymentProvider.test.ts
  temp_backup/__tests__/types/PaymentError.test.ts
Due: eslint --fix, prettier --write, secretlint

Delete assets/index-b41033e1.css
  assets/index-b41033e1.css
Due: none

Delete assets/index-f00ef643.js
  assets/index-f00ef643.js
Due: eslint --fix, prettier --write, secretlint

Delete benchmarks directory
  benchmarks/io_benchmark.js
Due: eslint --fix, prettier --write, secretlint

Potential fix for code scanning alert no. 24: Clear-text logging of sensitive information
  api/chat.ts
Due: eslint --fix, prettier --write, secretlint

Deploying to gh-pages from @ govinda777/Xperience@4c719403e08ed4193b2598c208cd38fa6330f7fa 🚀
  404.html
  index.html
  sw-cleanup.js
  sw.js
Due: eslint --fix, prettier --write, secretlint

Deploying to gh-pages from @ govinda777/Xperience@f9b26163a9cac7f4fcd906945fb9f05c382d2e8b 🚀
  index.html
  manifest.webmanifest
  registerSW.js
  sw-cleanup.js
  sw.js
  workbox-5ffe50d4.js
Due: eslint --fix, prettier --write, secretlint

Create CI.md for GitHub Actions migration guide
  .github/workflows/CI.md
Due: prettier --write, secretlint

Adicionando o DOR
  DOR.md
  Untitled document.pdf
Due: prettier --write, secretlint

Update src/pages/Dashboard/index.tsx
  src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write, secretlint

up
  index.html
  src/App.tsx
Due: eslint --fix, prettier --write, secretlint

Add files via upload
  Mapa-executivo-avatar-xperience.docx
  mapa_estrategico_xperience.docx
Due: none

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/playwright.yml
Due: secretlint

feat: implement ERC-4337 wallet integration with backend api and privy embedded wallet
  ARCHITECTURE.md
  BLUE_OCEAN.md
  TASKS.md
  api/_routes/user/wallet.ts
  api/index.ts
  api/lib/services/wallet-service.ts
  contracts/SuperAccount.sol
  contracts/SuperAccountFactory.sol
  src/config/env.ts
  src/hooks/useUserWallet.ts
  src/services/userWalletService.ts
  src/services/walletService.ts
Due: eslint --fix, prettier --write, secretlint

chore: remove legacy IA do Empreendedor, Blog, and Transparencia features
  api/_routes/submissions.ts
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/Footer/index.tsx
  src/components/Navbar/index.tsx
  src/pages/Home/IaDoEmpreendedor.tsx
  src/pages/Home/index.tsx
  src/pages/LeadsManager.tsx
  src/pages/Plans/EnjoyTools.tsx
  src/pages/Plans/index.tsx
  src/pages/Solutions/IAReports.tsx
  src/pages/Solutions/IaDoEmpreendedorBanner.tsx
  src/pages/Solutions/index.tsx
  src/pages/Transparencia/index.tsx
  src/services/leadsService.ts
Due: eslint --fix, prettier --write, secretlint

chore: remove Health dashboard and its backend endpoints
  api/_routes/health-config.ts
  api/_routes/health.ts
  api/index.ts
  api/lib/health-config.ts
  src/App.tsx
  src/components/Navbar/index.tsx
  src/pages/Health/index.tsx
Due: eslint --fix, prettier --write, secretlint

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})
  secretlint: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})) or (any of: *.{env,yml,yaml})
