Repository govinda777/Xperience: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "tsc --noEmit",
    "jest --bail --findRelatedTests",
    "secretlint"
  ],
  "*.{js,jsx}": ["eslint --fix", "secretlint"],
  "*.{json,md}": ["prettier --write", "secretlint"],
  "*.{env,env.*}": ["secretlint"],
  "*.{yml,yaml}": ["secretlint"]
}

chore: add tsc script
  package.json
Due: secretlint, prettier --write

fix: resolve TypeScript errors and improve type safety
  src/__tests__/services/providers/bitcoinPaymentProvider.test.ts
  src/__tests__/services/providers/githubPaymentProvider.test.ts
  src/__tests__/services/providers/usdtPaymentProvider.test.ts
  src/config/env.ts
  src/config/payment.ts
  src/hooks/useCounterContract.ts
  src/hooks/useFaucetJettonContract.ts
  src/services/providers/pixPaymentProvider.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

refactor: reorganize PixPaymentProvider class structure
  src/services/providers/pixPaymentProvider.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

chore: add eslint-plugin-security and prettier dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --write

fix: resolve TypeScript errors and add seoConfig
  src/config/env.ts
  src/hooks/useCounterContract.ts
  src/hooks/useFaucetJettonContract.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: resolve TypeScript errors in contracts and seoConfig
  src/config/env.ts
  src/contracts/counter.ts
  src/contracts/faucetJetton.ts
  src/contracts/faucetJettonWallet.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: resolve TypeScript errors in contracts and env
  src/config/env.ts
  src/contracts/counter.ts
  src/contracts/faucetJetton.ts
  src/contracts/faucetJettonWallet.ts
  src/hooks/useCounterContract.ts
  src/hooks/useFaucetJettonContract.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: resolve TypeScript errors in contracts and hooks
  src/contracts/counter.ts
  src/contracts/faucetJetton.ts
  src/contracts/faucetJettonWallet.ts
  src/hooks/useCounterContract.ts
  src/hooks/useFaucetJettonContract.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: resolve TypeScript errors in contracts and hooks
  src/contracts/counter.ts
  src/hooks/useCounterContract.ts
  src/hooks/useFaucetJettonContract.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: resolve TypeScript errors in contracts, hooks, and tests
  src/__tests__/hooks/useFaucetJettonContract.test.ts
  src/__tests__/hooks/useTonConnect.test.ts
  src/config/env.ts
  src/hooks/useCounterContract.ts
  src/hooks/useFaucetJettonContract.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: resolve test issues in USDTPaymentProvider
  src/__tests__/services/providers/usdtPaymentProvider.test.ts
  src/services/providers/usdtPaymentProvider.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: resolve import.meta.env issues in tests
  src/config/env.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

up
  src/services/paymentService.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

test: add test files and update configuration for payment service
  .husky/pre-commit
  TEST_ANALYSIS.md
  jest.config.cjs
  package-lock.json
  package.json
  src/__mocks__/env.ts
  src/__mocks__/payment.ts
  src/__mocks__/services/providers/pixPaymentProvider.ts
  src/__tests__/services/paymentService.test.ts
  src/__tests__/services/paymentService.test.ts.new
  src/__tests__/services/providers/pixPaymentProvider.test.ts
  src/services/paymentService.ts
  yarn.lock
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint, prettier --write

fix: remove secretlint and update pre-commit hooks
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.js
  scripts/security-check.js
Due: eslint --fix, secretlint, prettier --write

chore: update dependencies and pre-commit configuration
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: secretlint, prettier --write

up
  yarn.lock
Due: none

refactor: optimize CI/CD pipeline and test scripts
  .github/workflows/ci.yml
  package.json
Due: secretlint, prettier --write

fix: update pre-push hook to use Yarn and new script structure
  .husky/pre-push
  src/__tests__/hooks/useTonConnect.test.ts
  src/__tests__/services/providers/pixPaymentProvider.test.ts
  src/config/env.ts
  src/hooks/useCounterContract.ts
  src/hooks/useFaucetJettonContract.ts
  src/hooks/usePerformance.ts
  src/services/seoService.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

chore: remove test files and add test results
  src/__tests__/hooks/useCounterContract.test.ts
  src/__tests__/hooks/useUserWallet.test.ts
  src/__tests__/services/paymentService.test.ts
  src/__tests__/services/providers/bitcoinPaymentProvider.test.ts
  src/__tests__/services/providers/githubPaymentProvider.test.ts
  src/__tests__/services/providers/usdtPaymentProvider.test.ts
  test-results.json
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint, prettier --write

chore: remove failing performance test file
  src/__tests__/hooks/usePerformance.test.tsx
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: update imports and resolve type conflicts between ton and ton-core
  src/config/env.ts
  src/hooks/useCounterContract.ts
  src/hooks/useFaucetJettonContract.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

up
  src/hooks/useCounterContract.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

up
  .husky/pre-push
  vite.config.ts
Due: eslint --fix, tsc --noEmit, jest --bail --findRelatedTests, secretlint

fix: improve pre-push hook reliability and error handling
  .husky/pre-push
Due: none

fix: improve husky initialization in pre-push hook
  .husky/pre-push
Due: none

up
  .github/workflows/deploy.yml
  .github/workflows/payment-tests.yml.disabled
  package.json
Due: secretlint, prettier --write

Otimiza pipeline para ser mais rápido e seguro
  .github/workflows/deploy.yml
Due: secretlint

Remove arquivos do Husky
  .husky/pre-commit
  .husky/pre-push
Due: none

up
  package-lock.json
  package.json
  teste.md
Due: secretlint, prettier --write

up
  .npmrc
  .yarnrc
  package.json
  scripts/fast-install.sh
  src/config/env.js
  src/config/privy.js
  src/hooks/useCounterContract.js
  src/hooks/useFaucetJettonContract.js
  src/main.js
  yarn.lock
Due: eslint --fix, secretlint, prettier --write
